label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin-left: 20px;
}

label {
    margin-left: 20px;
    color: red;
    stroke: black;
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: black;
}

h1 {
    margin-left: 20px;
    color: red;
    stroke: black;
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: black;
}

body,h1,h2,h3,h4,h5{
    font-family: "Raleway", sans-serif
}

.w3-quarter img{
    margin-bottom: -6px;
    cursor: pointer
}

.w3-quarter img:hover{
    opacity: 0.6;
    transition: 0.3s
}

footer {
    margin-left: 20px;
}

.homeHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

